*.log
*.aux
*.out
*.pdf
*.synctex.gz
*.iml
*.nav
*.snm
*.toc
*.bbl
*.blg

out/
logs/
.ipynb_checkpoints/
.idea/
practice/.idea/
practice/.idea/dictionaries/
practice/__pycache__/
.DS_Store
doc/resume_YaoWang_2020.docx
